---
import { Section, Tag } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

interface Properties {
	interests: string[];
	class?: string;
}

const { interests, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section client:load anchor="interests" heading={m('section_interests')} size={3} class={classes}>
	<ul class="gap-0.5rem grid grid-cols-1 print:(flex flex-row flex-wrap gap-0.5rem) sm:(grid-cols-2)">
		{interests.map(interest => (
			<li>
				<Tag label={interest} large />
			</li>
		))}
	</ul>
</Section>
