---
import { useMessages } from '../../utilities/localization';
import Section from '../common/section.astro';

interface Properties {
	interests: string[];
	class?: string;
}

const { interests, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section id="interests" title={m('section_interests')} class={classes}>
	<div class="grid grid-cols-1 gap-0.5rem sm:(grid-cols-2) print:(flex flex-row flex-wrap gap-0.5rem)">
		{interests.map((interest) => (
			<div class="p-0.75rem bg-gray-200 dark:(bg-gray-800 text-gray-300) rounded-0.25rem text-1.25rem text-center text-gray-600 capitalize print:(text-1rem px-0.75em py-0.125em bg-gray-200 rounded-0.25em)">
				{interest}
			</div>
		))}
	</div>
</Section>
