---
import { Definition, Section } from '@thasmo/ui';
import type { Language } from '../../types';
import { useMessages } from '../../utilities/localization';

interface Properties {
	languages: Language[];
	class?: string;
}

const { languages, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section client:load anchor="languages" heading={m('section_languages')} size={3} class={classes}>
	<div class="flex flex-row flex-wrap gap-5rem">
		{languages.map(language => <Definition value={language.name} label={language.level} />)}
	</div>
</Section>
