---
import { Collapsible, Section } from '@thasmo/ui';
import type { Project } from '../../types';
import { getCurrentLocale, useMessages } from '../../utilities/localization';
import ProjectPartial from './partials/project.astro';

interface Properties {
	projects: Project[];
	class?: string;
}

const { projects, class: classes } = Astro.props as Properties;
const locale = getCurrentLocale(Astro.currentLocale);

const m = useMessages(locale);
---
<Section client:load anchor="projects" heading={m('section_projects')} size={3} class={classes}>
	<Collapsible client:load label={m('show_all_projects')}>
		<div slot="default" class="flex flex-col gap-2.5rem print:(gap-x-2.5rem gap-y-1rem grid grid-cols-2)">
			{projects.slice(0, 4).map(project => <ProjectPartial project={project} />)}
		</div>

		<div slot="content" class="flex flex-col gap-2.5rem print:(gap-x-2.5rem gap-y-1rem grid grid-cols-2)">
			{projects.slice(4).map(project => <ProjectPartial project={project} />)}
		</div>
	</Collapsible>
</Section>
