---
import { Section, Tag } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

interface Properties {
	skills: string[];
	class?: string;
}

const { skills, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section client:load anchor="skills" heading={m('section_skills')} size={3} class={classes}>
	<ul class="gap-0.5rem grid grid-cols-1 print:(flex flex-row flex-wrap gap-0.5rem) sm:(grid-cols-2)">
		{skills.map(skill => (
			<li>
				<Tag large={true} label={skill} />
			</li>
		))}
	</ul>
</Section>
