---
import { Link, Section, Tag } from '@thasmo/ui';
import type { Technology } from '../../types';
import { useMessages } from '../../utilities/localization';

interface Properties {
	technologies: Technology[];
	class?: string;
}

const { technologies, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section client:load anchor="technologies" heading={m('section_technologies')} size={3} class={classes}>
	<div class="flex flex-col gap-1rem">
		<ul class="flex flex-row flex-wrap gap-0.5rem">
			{technologies && [...technologies]
				.sort((a, b) => {
					if (b.level !== a.level) {
						return b.level - a.level;
					}

					return a.name.localeCompare(b.name);
				})
				.map(technology => (
					<li>
						<Link url={technology.url} external>
							<Tag label={technology.name} icon={['i-ri-arrow-up-s-line', 'i-ri-arrow-up-double-line'][technology.level - 2]} class="hover:(bg-gray-300) dark:(hover:bg-gray-700)" />
						</Link>
					</li>
				))}
		</ul>
	</div>
</Section>
