---
import { type Technology } from '../../types';

interface Props {
	technologies: Technology[];
}

const { technologies } = Astro.props as Props;
---
<section class="flex flex-col gap-2.5rem">
	<h2 class="flex flex-row items-center gap-1em font-serif font-500 text-2.25rem text-gray-900">
		<span class="min-w-fit">Familiar Technologies</span>
		<span class="w-full h-3px bg-current grow-1 rounded-full"></span>
	</h2>

	<div class="flex flex-col gap-1rem">
		<p class="flex flex-row flex-wrap gap-0.5rem text-gray-600">
			{technologies && [...technologies]
				.sort((a, b) => {
					if (b.level !== a.level) {
						return b.level - a.level;
					}

					return a.name.localeCompare(b.name);
				})
				.map((technology) => (
					<a href={technology.url} target="_blank" rel="noopener noreferrer" class="flex flex-row items-center gap-0.35rem px-0.75em py-0.125em bg-gray-200 rounded-0.25em hover:(text-gray-900 bg-gray-300)">
						<span>{technology.name}</span>
						<span class={ ['i-ri-arrow-up-s-line', 'i-ri-arrow-up-double-line'][technology.level - 2] }></span>
					</a>
			))}
		</p>
	</div>
</section>
