---
import { Section, Tag } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

interface Properties {
	values: string[];
	class?: string;
}

const { values, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<Section client:load anchor="values" heading={m('section_values')} size={3} class={classes}>
	<ul class="gap-0.5rem grid grid-cols-1 print:(flex flex-row flex-wrap gap-0.5rem) sm:(grid-cols-2)">
		{values.map(value => (
			<li>
				<Tag label={value} large />
			</li>
		))}
	</ul>
</Section>
