---
interface Props {
	values: string[];
}

const { values } = Astro.props as Props;
---
<section class="flex flex-col gap-2.5rem">
	<h2 class="flex flex-row items-center gap-1em font-serif font-500 text-2.25rem">
		<span class="min-w-fit">Personal Values</span>
		<span class="w-full h-3px bg-current grow-1 rounded-full"></span>
	</h2>

	<div class="grid grid-cols-1 gap-0.5rem sm:(grid-cols-2)">
		{values.map((value) => (
			<div class="text-1.25rem p-0.75rem bg-gray-200 dark:(bg-gray-800 text-gray-300) rounded-0.25rem text-center text-gray-600 capitalize">
				{value}
			</div>
		))}
	</div>
</section>
