---
import { Pill } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<a data-ref-download href={`/${locale}/resume.pdf`} download={m('filename')} class="group/download cursor-pointer data-[loading]/download:pointer-events-none" title={m('download_resume')} aria-label={m('download_resume')}>
	<Pill icon="i-ri-download-line" class="text-white bg-gray-900 block dark:(text-gray-900 bg-white hover:bg-gray-300) hover:(bg-gray-600) group-data-[loading]/download:hidden" />
	<Pill icon="i-ri-loader-4-line" class="text-white bg-gray-900 block hidden animate-spin dark:(text-gray-900 bg-white) group-data-[loading]/download:block" />
</a>

<script>
	const link = document.querySelector('[data-ref-download]');

	link?.addEventListener('click', async (event) => {
		event.preventDefault();

		const url = link.getAttribute('href');

		if (url) {
			link.setAttribute('data-loading', '');

			const response = await fetch(url, { method: 'HEAD' });

			if (response.ok) {
				link.removeAttribute('data-loading');
				window.location.href = url;
			}
		}
	});
</script>
