---
import { Pill } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

const locale = Astro.currentLocale;

const m = useMessages(locale);

const newLocale = locale === 'en' ? 'de' : 'en';
---
<a href=`/${newLocale}` title={m('change_locale')} aria-label={m('change_locale')}>
	<Pill icon="i-ri-translate" text={newLocale} />
</a>
