---
import { Pill, Tooltip } from '@thasmo/ui';
import { getCurrentLocale, useMessages } from '../../utilities/localization';

const locale = getCurrentLocale(Astro.currentLocale);

const m = useMessages(locale);

const newLocale = locale === 'en' ? 'de' : 'en';
---
<Tooltip label={m('change_locale')} slot="suffix" class="font-400 font-sans">
	<a href=`/${newLocale}` aria-label={m('change_locale')}>
		<Pill icon="i-ri-translate" text={newLocale} />
	</a>
</Tooltip>
