---
import { useMessages } from '../../utilities/localization';
import Icon from '../common/icon.astro';

const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<button data-ref-switch class="text-1.5rem p-0.5rem rounded-full bg-yellow-300 aspect-square block cursor-pointer dark:(bg-yellow-900 hover:bg-yellow-800) hover:(bg-yellow-400)" title={m('switch_theme')} aria-label={m('switch_theme')}>
	<Icon name="i-ri-lightbulb-line" class="block hidden dark:(block)" />
	<Icon name="i-ri-lightbulb-flash-line" class="block dark:(hidden)" />
</button>

<script>
function enableDarkMode() {
	localStorage.setItem('dark', '1');
}

function disableDarkMode() {
	localStorage.setItem('dark', '0');
}

function isDarkMode() {
	return localStorage.getItem('dark') === '1' || (
		localStorage.getItem('dark') === null
		&& window.matchMedia('(prefers-color-scheme: dark)').matches
	);
}

function applyDarkModeStyles() {
	document.documentElement.classList.add('dark');
}

function revokeDarkModeStyles() {
	document.documentElement.classList.remove('dark');
}

function toggleDarkMode() {
	if (isDarkMode()) {
		disableDarkMode();
		revokeDarkModeStyles();
	}
	else {
		enableDarkMode();
		applyDarkModeStyles();
	}
}

if (isDarkMode()) {
	applyDarkModeStyles();
}

document.querySelector('[data-ref-switch]')?.addEventListener('click', () => toggleDarkMode());
window.addEventListener('beforeprint', () => isDarkMode() && toggleDarkMode());
</script>
