---
import { Pill } from '@thasmo/ui';
import { useMessages } from '../../utilities/localization';

const locale = Astro.currentLocale;

const m = useMessages(locale);
---
<button data-ref-switch class="block cursor-pointer" title={m('switch_theme')} aria-label={m('switch_theme')}>
	<Pill icon="i-ri-lightbulb-flash-line" class="text-yellow-900 bg-yellow-400 block hover:(bg-yellow-500) dark:(hidden)" />
	<Pill icon="i-ri-lightbulb-line" class="text-yellow-300 bg-yellow-900 block hidden hover:(bg-yellow-800) dark:(block)" />
</button>

<script>
function enableDarkMode() {
	localStorage.setItem('dark', '1');
}

function disableDarkMode() {
	localStorage.setItem('dark', '0');
}

function isDarkMode() {
	return localStorage.getItem('dark') === '1' || (
		localStorage.getItem('dark') === null
		&& window.matchMedia('(prefers-color-scheme: dark)').matches
	);
}

function applyDarkModeStyles() {
	document.documentElement.classList.add('dark');
}

function revokeDarkModeStyles() {
	document.documentElement.classList.remove('dark');
}

function toggleDarkMode() {
	if (isDarkMode()) {
		disableDarkMode();
		revokeDarkModeStyles();
	}
	else {
		enableDarkMode();
		applyDarkModeStyles();
	}
}

if (isDarkMode()) {
	applyDarkModeStyles();
}

document.querySelector('[data-ref-switch]')?.addEventListener('click', () => toggleDarkMode());
window.addEventListener('beforeprint', () => isDarkMode() && toggleDarkMode());
</script>
