---
import { Button, Text } from '@thasmo/ui';
import Contact from '../components/resume/contact.astro';
import Layout from '../layouts/default.astro';
import { useMessages } from '../utilities/localization';

const locale = Astro.currentLocale;
const m = useMessages(locale);

const {
	contact,
	profiles,
} = await fetch(`https://api.thasmo.com/${locale}/`).then(response => response.json());
---
<Layout title={`« ${m('undefined')} »`}>
	<Text>
		<p>
			{m('not_found')}
		</p>

		<Button href={`/${locale}`}>
			{m('back')}
		</Button>
	</Text>

	<Fragment slot="aside">
		<Contact contact={contact} profiles={profiles} />
	</Fragment>
</Layout>
