---
import Layout from '../layouts/default.astro';
import Contact from '../components/resume/contact.astro';
import Profiles from '../components/resume/profiles.astro';

const {
	contact,
	profiles,
} = await fetch('https://api.thasmo.com/').then((response) => response.json());
---
<Layout title="&laquo; undefined &raquo;">
	<div class="flex flex-col gap-5rem">
		<div class="flex flex-col gap-2rem">
			<p class="text-1.25rem text-gray-600">
				Oops, we've found a &laquo;page&raquo; that doesn't exist.
			</p>

			<p>
				<a href="/" class="px-4 py-3 text-1.25rem text-gray-900 font-500 bg-gray-200 rounded-0.25rem hover:(bg-gray-300)">
					Bring me home.
				</a>
			</p>
		</div>
	</div>

	<Fragment slot="aside">
		<div class="flex flex-col gap-1.5rem">
			<Contact contact={contact} />
			<Profiles profiles={profiles} />
		</div>
	</Fragment>
</Layout>
