---
import Theme from './theme.astro';
import Scroll from './scroll.astro';
import { useMessages } from '../utilities/localization';

const locale = Astro.currentLocale;

const m = useMessages(locale);

const { title = m('site_title') } = Astro.props;
---
<head>
	<meta charset="utf-8" />

	<title>{title}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={m('site_description')} />
	<meta property="og:image" content="https://avatar.thasmo.com/" />

	<link href="https://avatar.thasmo.com/" rel="icon" />

	<slot />

	<Theme />
	<Scroll />
</head>
