---
const { title = 'Resume · Thomas Deinhamer' } = Astro.props;
---
<head>
	<meta charset="utf-8" />
	<title>{title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://avatar.thasmo.com/" rel="icon" />
	<slot />
</head>
