---
import Theme from './theme.astro';
const { title = 'Resume · Thomas Deinhamer' } = Astro.props;
---
<head>
	<meta charset="utf-8" />
	<title>{title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Resume of Thomas Deinhamer, a frontend engineer from Salzburg, Austria." />
	<link href="https://avatar.thasmo.com/" rel="icon" />
	<slot />
	<Theme />
</head>
