---
import Locale from './navigation/locale.astro';
import Theme from './navigation/theme.astro';
import Download from './navigation/download.astro';

export interface Properties {
	class?: string;
}

const { class: classes } = Astro.props as Properties;
---
<nav class:list={['flex flex-row items-center gap-0.5rem pos-fixed top-1rem right-1rem z-1 sm:(gap-1rem top-2.5vw right-2.5vw)', classes]}>
	<Locale />
	<Theme />
	<Download />
</nav>
