---
import Icon from './common/icon.astro';
---
<button id="switch" class="block aspect-square p-0.5rem rounded-full bg-yellow-300 cursor-pointer pos-fixed top-1rem right-1rem z-1 text-1.5rem hover:(bg-yellow-400) sm:(top-2.5vw right-2.5vw) dark:(bg-yellow-950 hover:(bg-yellow-800))">
	<Icon name="i-ri-lightbulb-line" class="block hidden dark:(block)" />
	<Icon name="i-ri-lightbulb-flash-line" class="block dark:(hidden)" />
</button>
