<button id="switch" class="block aspect-square p-0.5rem rounded-full bg-yellow-300 cursor-pointer pos-fixed top-2.5vw right-2.5vw z-1 text-1.5rem hover:(bg-yellow-400) dark:(bg-yellow-950 hover:(bg-yellow-800))">
	<span class="i-ri-lightbulb-line block hidden dark:block"></span>
	<span class="i-ri-lightbulb-flash-line block dark:hidden"></span>
</button>
