---
interface Properties {
	name: string;
	class?: string;
}

const properties = Astro.props as Properties;

const classes = [
	properties.name,
	'block',
	'grow-0',
	'shrink-0',
	'print:(hidden)',
	properties.class,
];
---
{properties.name && (
	<span class:list={classes} aria-hidden="true"></span>
)}
