---
interface Properties {
	id?: string;
	title: string;
}

const { title, id } = Astro.props as Properties;
---
<section id={id} class="flex flex-col gap-2.5rem">
	<h2 class="flex flex-row items-center gap-1em font-serif font-500 text-2.25rem">
		<span class="min-w-fit">{title}</span>
		<span class="w-full h-3px bg-current grow-1 rounded-full"></span>
	</h2>

	<slot />
</section>
