---
import { useMessages } from '../../utilities/localization';
import Icon from '../common/icon.astro';

interface Properties {
	id?: string;
	title: string;
	class?: string;
	details: boolean;
}

const { title, id, class: classes, details = false } = Astro.props as Properties;

const locale = Astro.currentLocale;
const m = useMessages(locale);
---
<section id={id} class:list={['group/section flex flex-col gap-2.25rem print:(gap-1.25rem)', classes]} data-section>
	<h2 class="text-2.25rem leading-tight font-500 font-serif flex flex-row gap-1em items-center">
		<span class="sm:(min-w-fit)">{title}</span>
		<span class="rounded-full bg-current grow-1 h-3px w-full print:(hidden)" aria-hidden="true"></span>

		{details && (
			<button class="text-1.5rem p-0.5rem rounded-full bg-yellow-300 cursor-pointer dark:(text-white bg-yellow-900 hover:bg-yellow-800) hover:(bg-yellow-400) print:(hidden)" onclick="this.closest('section').toggleAttribute('data-open')" title={m('toggle_details')} aria-label={m('toggle_details')}>
				<Icon name="i-ri-expand-up-down-line" class="block scale-125 group-data-[open]/section:hidden" />
				<Icon name="i-ri-contract-up-down-line" class="hidden scale-125 group-data-[open]/section:block" />
			</button>
		)}
	</h2>

	<div>
		<slot />
	</div>
</section>

<script>
	window.addEventListener('beforeprint', () => {
		const buttons = [...document.querySelectorAll('[data-section]')]
			.filter(element => !element.hasAttribute('data-open'))
			.map(element => element.querySelector('button'))
			.filter(Boolean);

		buttons.forEach(button => button?.click());
	});
</script>
