---
import { Heading, Pill } from '@thasmo/ui';
import Body from '../components/body.astro';
import Head from '../components/head.astro';
import Navigation from '../components/navigation.astro';
import { useMessages } from '../utilities/localization';

interface Properties {
	title?: string;
}

const { title } = Astro.props as Properties;
const locale = Astro.currentLocale;
const m = useMessages(locale);
---
<html lang={locale} class="scroll-p-15 print:(text-75%)">
	<Head>
		<slot name="head" />
	</Head>

	<Body>
		<Navigation class="print:hidden" />

		<div class="m-auto flex flex-col gap-5rem max-w-60rem w-full md:(flex-row) print:(flex-row gap-2.5rem) lg:(max-w-80rem)">
			<div class="shrink-0 grow-0 w-15rem hidden lg:(block invisible) print:(hidden)"></div>

			<main class="flex grow-1 flex-col gap-3rem print:(gap-1rem)">
				{title && (
					<Heading level={1}>
						{title}
					</Heading>
				)}

				<div>
					<slot />
				</div>

				<a id="top" href="#" class="mx-auto mt-auto">
					<Pill icon="i-ri-skip-up-line" title={m('top')} aria-label={m('top')} />
				</a>
			</main>

			<aside class="shrink-0 grow-0 order-first md:(w-17.5rem order-last) print:(right-0 top-0 pos-absolute)">
				<div class="top-2.5vw sticky">
					<slot name="aside" />
				</div>
			</aside>
		</div>
	</Body>
</html>
